# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [11]:
import warnings
warnings.simplefilter('ignore')
import sqlite3
import pandas as pd

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [12]:
database_connection = sqlite3.connect('go_sales.sqlite')

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [139]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(sql_query, database_connection)

print(tables)

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11  SALES_TARGETData
12   sqlite_sequence
13       sales_staff

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [13]:
sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", database_connection)

print(sales_staff)

    SALES_STAFF_CODE FIRST_NAME       LAST_NAME                   POSITION_EN  \
0                100     Tuomas      Savolainen  Level 2 Sales Representative
1                101   Chang-ho             Kim  Level 2 Sales Representative
2                102    Jung-ho            Choi  Level 3 Sales Representative
3                103  Kwei-Ping             Kao  Level 2 Sales Representative
4                104  Chin-Tsai            Fang  Level 3 Sales Representative
..               ...        ...             ...                           ...
99                97     Viviam          Barros  Level 3 Sales Representative
100               98    Eduardo       Guimarães  Level 2 Sales Representative
101               99     Helena        Lindholm  Level 3 Sales Representative
102             1008      Milan  van Heijningen                Branch Manager
103             1008      Milan  van Heijningen                Branch Manager

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102            611956077       398            611956077
103            611956077       398            611956077

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102       hallo123@gmail.com       -2005                35        T
103       hallo123@gmail.com       -2005                35        T

                FULL_NAME
0       Tuomas Savolainen
1            Chang-ho Kim
2            Jung-ho Choi
3           Kwei-Ping Kao
4          Chin-Tsai Fang
..                    ...
99          Viviam Barros
100     Eduardo Guimarães
101       Helena Lindholm
102  Milan van Heijningen
103  Milan van Heijningen

[104 rows x 12 columns]

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [23]:
sales_staff_code_series = df['SALES_STAFF_CODE']
work_phone_series = df['WORK_PHONE']
extension_series = df['EXTENSION']
fax_series = df['FAX']
email_series = df['EMAIL']

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [24]:
contact_details = pd.concat([sales_staff_code_series, work_phone_series, extension_series, fax_series, email_series], axis = 1)

print(contact_details)

    SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102             1008            611956077       398            611956077
103             1008            611956077       398            611956077

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com
102       hallo123@gmail.com
103       hallo123@gmail.com

[104 rows x 5 columns]

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [33]:
query = f"SELECT {contact_details} FROM sales_staff;"

top_5_rows = pd.read_sql_query(query, database_connection).head(5)

print(top_5_rows)

DatabaseError: Execution failed on sql 'SELECT     SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102             1008            611956077       398            611956077
103             1008            611956077       398            611956077

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com
102       hallo123@gmail.com
103       hallo123@gmail.com

[104 rows x 5 columns] FROM sales_staff;': near "EXTENSION": syntax error

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [26]:
query = f"SELECT {contact_details} FROM sales_staff;"

selected_columns_df = pd.read_sql_query(query, database_connection)

languages_list = ['EN'] * 5
languages_series = pd.Series(languages_list, name='FIRST_LANGUAGE')

result_df = pd.concat([selected_columns_df, languages_series], axis=1)

print(result_df)

DatabaseError: Execution failed on sql 'SELECT     SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102             1008            611956077       398            611956077
103             1008            611956077       398            611956077

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com
102       hallo123@gmail.com
103       hallo123@gmail.com

[104 rows x 5 columns] FROM sales_staff;': near "EXTENSION": syntax error

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [27]:
query = f"SELECT {contact_details} FROM sales_staff;"

selected_columns_df = pd.read_sql_query(query, database_connection)

language_dict = {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}
second_language_series = selected_columns_df.index.to_series().map(language_dict).rename('SECOND_LANGUAGE')

result_df = pd.concat([selected_columns_df, languages_series, second_language_series], axis=1)

print(result_df)

DatabaseError: Execution failed on sql 'SELECT     SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102             1008            611956077       398            611956077
103             1008            611956077       398            611956077

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com
102       hallo123@gmail.com
103       hallo123@gmail.com

[104 rows x 5 columns] FROM sales_staff;': near "EXTENSION": syntax error

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [28]:
query = f"SELECT {contact_details} FROM sales_staff;"

selected_columns_df = pd.read_sql_query(query, database_connection)

third_language_dict = {'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'JPN', 'KOR']}
third_language_df = pd.DataFrame(third_language_dict)

result_df = pd.concat([selected_columns_df, languages_series, second_language_series, third_language_df], axis=1)

print(result_df)

DatabaseError: Execution failed on sql 'SELECT     SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102             1008            611956077       398            611956077
103             1008            611956077       398            611956077

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com
102       hallo123@gmail.com
103       hallo123@gmail.com

[104 rows x 5 columns] FROM sales_staff;': near "EXTENSION": syntax error

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [29]:
new_row_values = ('1010', 'Milan', 'van Heijningen', 'Branch Manager', 611956077 , 398, 611956077, 'hallo123@gmail.com', 12-8-2009, 35, 'T')
cursor = database_connection.cursor()
cursor.execute("INSERT INTO sales_staff (sales_staff_code, first_name, last_name, position_en, work_phone, extension, fax, email, date_hired, sales_branch_code, trial888) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", new_row_values)

query = f"SELECT * FROM sales_staff;"

sales_staff_print = pd.read_sql_query(query, database_connection)

print(sales_staff_print)

    SALES_STAFF_CODE FIRST_NAME       LAST_NAME                   POSITION_EN  \
0                100     Tuomas      Savolainen  Level 2 Sales Representative
1                101   Chang-ho             Kim  Level 2 Sales Representative
2                102    Jung-ho            Choi  Level 3 Sales Representative
3                103  Kwei-Ping             Kao  Level 2 Sales Representative
4                104  Chin-Tsai            Fang  Level 3 Sales Representative
..               ...        ...             ...                           ...
100               98    Eduardo       Guimarães  Level 2 Sales Representative
101               99     Helena        Lindholm  Level 3 Sales Representative
102             1008      Milan  van Heijningen                Branch Manager
103             1008      Milan  van Heijningen                Branch Manager
104             1010      Milan  van Heijningen                Branch Manager

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102            611956077       398            611956077
103            611956077       398            611956077
104            611956077       398            611956077

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102       hallo123@gmail.com       -2005                35        T
103       hallo123@gmail.com       -2005                35        T
104       hallo123@gmail.com       -2005                35        T

                FULL_NAME
0       Tuomas Savolainen
1            Chang-ho Kim
2            Jung-ho Choi
3           Kwei-Ping Kao
4          Chin-Tsai Fang
..                    ...
100     Eduardo Guimarães
101       Helena Lindholm
102  Milan van Heijningen
103  Milan van Heijningen
104                  None

[105 rows x 12 columns]

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [30]:
'''
cursor = database_connection.cursor()

sql_query = 'ALTER TABLE sales_staff ADD COLUMN FULL_NAME TEXT, UPDATE sales_staff SET FULL_NAME = FIRST_NAME || ' ' || LAST_NAME;'

cursor.executescript(sql_query)

database_connection.commit()
'''

sql_query = "SELECT * FROM sales_staff;"

df = pd.read_sql_query(sql_query, database_connection)

df['FULL_NAME'] = df['FIRST_NAME'] + ' ' + df['LAST_NAME']

df.to_sql('sales_staff', database_connection, index=False, if_exists='replace')

print(df['FULL_NAME'])

0         Tuomas Savolainen
1              Chang-ho Kim
2              Jung-ho Choi
3             Kwei-Ping Kao
4            Chin-Tsai Fang
               ...
100       Eduardo Guimarães
101         Helena Lindholm
102    Milan van Heijningen
103    Milan van Heijningen
104    Milan van Heijningen
Name: FULL_NAME, Length: 105, dtype: object

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [16]:
sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
FULL_NAME             object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [32]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
FULL_NAME             object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.