In [11]:
import pandas as pd
import pyodbc
import sqlite3

In [12]:
DB = {'servername': 'LAPTOP-V51G2LUG\SQLEXPRESS01',
      'database': 'Great_Outdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [14]:
big_outdoors_conn = sqlite3.connect("Great_Outdoors.db")
retailer_contact_dimensie = pd.read_sql("SELECT * FROM RETAILER_CONTACT", big_outdoors_conn)
retailer_contact_dimensie

Empty DataFrame
Columns: [JOB_POSITION_EN, EXTENSION, FAX, EMAIL, GENDER, RETAILER_SITE_RETAILER_SITE_CODE, RETAILER_SITE_ADDRESS1, RETAILER_SITE_ADDRESS2, RETAILER_SITE_CITY, RETAILER_SITE_REGION, RETAILER_SITE_POSTAL_ZONE, RETAILER_SITE_COUNTRY_CODE, RETAILER_SITE_ACTIVE_INDICATOR, RETAILER_RETAILER_CODE, RETAILER_RETAILER_CODEMR, RETAILER_COMPANY_NAME, COUNTRY_COUNTRY_CODE, COUNTRY_COUNTRY_EN, COUNTRY_FLAG_IMAGE, RETAILER_CONTACT_RETAILER_CONTACT_CODE, RETAILER_CONTACT_FIRST_NAME, RETAILER_CONTACT_LAST_NAME]
Index: []

[0 rows x 22 columns]

In [16]:
for index, row in retailer_contact_dimensie.iterrows():
    
    try: 
        query = f"INSERT INTO RETAILER_CONTACT VALUES ({row['COUNTRY_COUNTRY_CODE'] })"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)    

export_conn.commit()
export_cursor.close()

ProgrammingError: Attempt to use a closed cursor.